<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type= "text/css" href="static/style.css">
    <title>Работа с запросами</title>
</head>
<body>
    <nav class="navMenu">
      <a href="/queries/query">Запросы</a>
      <a href="/authorize">Авторизация</a>
      <a href="/edit">Изменение заказа</a>
      <div class="dot"></div>
    </nav>

    <nav class="navMenu1">
      <a href="/session_clear">Выйти</a>
      <div class="dot"></div>
    </nav>

    <br><br>
    <br><br>
    <br><br>


</body>
</html>